.breadcrumbs {
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        li {
            @include fz-18;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            color: var(--gray-color);
            &:before {
                content: "";
                display: block;
                width: 32px;
                height: 16px;
                background: url(../img/svg/arrow-r.svg) center / contain no-repeat;
                filter: invert(67%) sepia(5%) saturate(8%) hue-rotate(345deg) brightness(87%) contrast(86%);
                margin: 0 10px;
            }
            &:first-child:before {
                display: none;
            }
            &:last-child {
                color: var(--black-color);
            }
            a {
                color: var(--gray-color);
            }
        }
    }
     @media (max-width: $bp5) {
            ul {
                flex-wrap: nowrap;
                overflow: auto;
                scrollbar-width: none;
                margin: 0 calc(var(--container-offset) * -1);
                padding: 0 var(--container-offset);
                ::-webkit-scrollbar {
                    display: none;
                }
                li {
                    white-space: nowrap;
                }
            }
        }
}
