.clients {
    &__items {
        @include grid-3;
    }
    &__item {
        padding: 16px;
        border: 1px solid var(--black-color);
        .media-contain {
            height: 50px;
        }
    }
    @media (max-width: $bp4) {
        &__items {
            grid-template-columns: 1fr 1fr;
        }
    }
}
