.credentials {
    &__items {
        @include grid-3;
        @media (max-width: $bp4) {
            gap: 24px;
        }
    }
}
.item-credit {
    .media-cover {
        padding-bottom: 67.03%;
        border: 1px solid var(--black-color);
    }
    p {
        @include fz-18;
        color: var(--gray-color);
    }
    &__img {
        padding-bottom: 12px;
        border-bottom: 1px solid var(--black-color);
        margin-bottom: 12px;
    }
}
.featured-card {
    width: 100%;
    max-width: 720px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: start;
    .media-cover {
        width: 173px;
        height: 173px;
        background: none;
    }
    .h4 {
        margin-bottom: 8px;
    }
    .page-content {
        p {
            color: var(--gray-color);
        }
    }
    &__content {
        align-self: center;
    }
    @media (max-width: $bp2) {
        max-width: 560px;
		.media-cover {
			width: 130px;
			height: 130px;
		}
    }
	@media (max-width: $bp4) {
		.media-cover {
			width: 80px;
			height: 80px;
		}
	}
}
