.item-faq {
    padding: 24px 12px;
    border-top: 1px solid var(--black-color);
    &:last-child {
        border-bottom: 1px solid var(--black-color);
    }
    .page-content {
        max-width: calc(100% / 9 * 6);
        padding-top: 24px;
    }
    @media (max-width: $bp2) {
        padding: 16px 4px;
        .page-content {
            max-width: 100%;
            padding-top: 12px;
            padding-right: 35px;
        }
    }
}
