.cookie {
    min-width: 0;
    position: fixed;
    bottom: var(--container-offset);
    left: var(--container-offset);
    transition:
        visibility 0.3s linear,
        opacity 0.3s linear,
        bottom 0.3s linear;
    z-index: 400;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: 501;
    &.show {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
    p {
        @include fz-14;
        color: var(--gray-color);
        a {
            color: var(--black-color);
            text-decoration: underline;
        }
    }
    .btn {
        @include fz-14;
        padding: 10px 24px;
        margin-top: 10px;
    }
    &__inner {
        width: 100%;
        max-width: 394px;
        color: var(--black-color);
        padding: 16px;
        border-radius: 12px;
        background: var(--white-color);
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
        margin-left: auto;
    }
    @media (max-width: $bp3) {
        .btn {
            width: auto;
        }
    }
    @media (max-width: $bp6) {
        right: var(--container-offset);
        &.fixed-btn-isVisible {
            bottom: 68px;
        }
        &__inner {
            max-width: 100%;
        }
    }
}
.modal {
    visibility: hidden;
    opacity: 0;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: auto;
    transition: all 0.3s 0.1s ease-out;
    &.open {
        visibility: visible;
        opacity: 1;
        transition: all 0.3s ease-out;
        .modal__content {
            opacity: 1;
            transform: translateY(0);
            transition: all 0.3s 0.1s ease-out;
        }
    }
    .btn-cross.modal__close {
        width: 30px;
        height: 30px;
        position: absolute;
        right: -40px;
        top: -40px;
        &::before,
        &::after {
            background: var(--white-color);
        }
    }
    &__top {
        text-align: center;
        margin-bottom: 30px;
        p {
            color: var(--gray-color);
            margin-top: 20px;
        }
    }
    &__content {
        width: 100%;
        max-width: 645px;
        padding: 30px;
        margin: auto;
        background: var(--gray-color-bg);
        border-radius: 8px;
        position: relative;
        opacity: 0;
        transform: translateY(30px);
        transition: all 0.3s ease-out;
    }
    &__icon {
        width: 64px;
        height: 64px;
        margin: 0 auto 30px;
    }
    @media (max-width: $bp1) {
        .btn-cross.modal__close {
            width: 24px;
            height: 24px;
            top: -28px;
            right: -28px;
        }
        &__top {
            margin-bottom: 20px;
            p {
                margin-top: 10px;
            }
        }
        &__icon {
            margin-bottom: 20px;
        }
        &__content {
            max-width: 557px;
            padding: 20px;
        }
    }
    @media (max-width: $bp4) {
        padding: 40px 0 0;
        overflow: hidden;
        .btn-cross.modal__close {
            right: var(--container-offset);
            top: -34px;
        }
        &__icon {
            width: 48px;
            height: 48px;
        }
        &__content {
            max-width: 100%;
            max-height: 100%;
            padding: 30px calc(var(--container-offset) - 10px) 0;
            margin-bottom: 0;
            border-radius: 8px 8px 0 0;
            transform: translateY(30px);
            display: flex;
            flex-direction: column;
            .custom-scroll {
                flex: 1 1 auto;
                width: 100%;
                max-width: calc(var(--content-width) + 20px);
                padding: 0 10px 30px;
                margin: 0 auto;
                overflow: auto;
                &::-webkit-scrollbar-thumb {
                    border-radius: 6px;
                }
            }
        }
    }
    @media (max-width: $bp5) {
        &__content .custom-scroll {
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
                width: 0;
                height: 0;
            };
        }
    }
}
.success-mod,
.error-mod {
    .main-btn {
        width: 100%;
    }
}
.success-mod .modal__icon {
    background: url(../img/svg/icon-success.svg) center / contain no-repeat;
}
.error-mod .modal__icon {
    background: url(../img/svg/icon-error.svg) center / contain no-repeat;
}
.fixed-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 500;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateY(100%);
    transition:
        visibility 0.3s linear,
        opacity 0.3s linear,
        transform 0.3s linear;
    &.show {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }
    @media (min-width: $bp6) {
        .container {
            padding: 0;
        }
        .main-btn:has(.link-icon) {
            padding: 10px 10px 10px 36px;
            border-radius: 0;
            border-top-left-radius: 35px;
        }
    }
    @media (max-width: $bp6) {
        padding: 12px 0;
        background: var(--white-color);
        width: 100%;
        .main-btn {
            width: 100%;
        }
    }
}
