.tech-stages {
    &__items {
        @include grid-4;
        .tech-stage:last-child {
            color: var(--white-color);
            background: var(--black-color);
            a {
                color: var(--white-color);
            }
            img {
                filter: brightness(0) saturate(100%) invert(99%) sepia(4%) saturate(16%) hue-rotate(2deg) brightness(102%) contrast(100%);
            }
        }
    }
    @media (min-width: $bp2) {
        &__items {
            .tech-stage:nth-child(3) {
                grid-column: 4/5;
            }
            .tech-stage:nth-child(5) {
                grid-column: 3/4;
            }
        }
    }
    @media (max-width: $bp2) {
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
.tech-stage {
    padding: 20px;
    border: 1px solid var(--black-color);
    &__icon {
        width: 100px;
        height: 100px;
        margin-bottom: 80px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__content {
        h4,
        .h4 {
            margin-bottom: 20px;
        }
        p {
            @include fz-18;
        }
    }
    @media (max-width: $bp1) {
        padding: 16px;
        &__icon {
            width: 80px;
            height: 80px;
            margin-bottom: 40px;
        }
        &__content {
            h4,
            .h4 {
                margin-bottom: 12px;
            }
        }
    }
    @media (max-width: $bp2) {
        &__icon {
            width: 60px;
            height: 60px;
        }
    }
}
.legal-stages {
    &__steps {
        @include grid-3;
    }
    &__step {
        max-width: 318px;
        padding-left: 20px;
        border-left: 1px solid var(--black-color);
    }
    &__step-nmb {
        font-weight: 500;
        color: var(--gray-color);
        margin-bottom: 12px;
    }
    &__note {
        .h2 {
            text-indent: 9.5em;
        }
    }
    &__processes {
        @include grid-3;
        gap: 0;
    }
    &__process {
        display: flex;
        position: relative;
        align-items: center;
        &:after {
            flex-shrink: 0;
            content: "";
            display: block;
            width: 40px;
            height: 40px;
            background: url(../img/svg/arrow-r.svg) center / contain no-repeat;
            margin: 0 15px;
        }
        &:last-child::after {
            opacity: 0;
        }
    }
    &__process-circle {
        flex: 1 1 auto;
        aspect-ratio: 1;
        background: var(--black-color);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 50%;
        p {
            max-width: 226px;
            padding: 5px;
        }
        p,
        a {
            color: var(--white-color);
        }
    }
    @media (max-width: $bp1) {
        &__step {
            padding-left: 16px;
        }
    }
    @media (min-width: $bp3) and (max-width: $bp2) {
        &__process {
            &:after {
                width: 32px;
                height: 32px;
                margin: 0 10px;
            }
        }
    }
    @media (max-width: $bp4) {
        &__steps {
            gap: 24px;
        }
        &__step {
            max-width: 100%;
        }
        &__note {
            .h2 {
                text-indent: 0;
            }
        }
        &__process {
            flex-direction: column;
            &::after {
                transform: rotate(90deg);
                margin: 15px 0;
            }
            &:last-child::after {
                content: none;
            }
        }
        &__process-circle {
            width: 200px;
            p {
                max-width: 185px;
            }
        }
    }
}
.work-stages {
    &__items {
        @include grid-6;
    }
    @media (min-width: $bp4) {
        &__items {
            .work-stage {
                grid-column-end: span 2;
                &:nth-child(4n),
                &:nth-child(5n) {
                    grid-column-end: span 3;
                }
            }
        }
    }
}
.work-stage {
    padding: 30px;
    background: var(--gray-color-bg);
    &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 73px;
    }
    &__nmb {
        line-height: 1;
        padding: 0 10px;
        overflow: hidden;
        position: relative;
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 0 2em;
            border-top: 1px solid var(--gray-color-light);
            background: var(--gray-color-bg);
            position: absolute;
            bottom: 0;
            left: 0
        }
        span {
            @include fz-90;
            color: var(--gray-color-light);
            display: block;
        }
    }
    &__dur {
        @include fz-18;
        color: var(--gray-color);
        padding: 4px 8px;
        border: 1px solid var(--gray-color);
        border-radius: 100px;
    }
    &__content {
        max-width: 420px;
        h4,
        .h4 {
            margin-bottom: 20px;
        }
        p {
            @include fz-18;
        }
    }
    @media (max-width: $bp1) {
        padding: 16px;
        &__header {
            margin-bottom: 56px;
        }
        &__content {
            h4,
            .h4 {
                margin-bottom: 12px;
            }
        }
    }
}
