.work-formats__item,
.articles__items li,
.item-faq {
    border-top: 1px solid var(--black-color);
    &:last-child {
        border-bottom: 1px solid var(--black-color);
    }
}
.work-formats__item,
.item-article {
    padding: 24px 12px;
    padding-left: 25%;
    @media (max-width: $bp2) {
        padding: 16px 4px 16px 25%;
    }
    @media (max-width: $bp3) {
        padding: 16px 4px;
    }
}
.work-formats {
    &__item {
        @include grid-ratio-2-1;
        align-items: center;
    }
    &__item-content {
        p {
            @include fz-18;
        }
    }
}
.item-article {
    display: block;
}
