<!--header-->
@@if (main === true) {
<header class="header header--main fixed-block">
    }
    @@if (main === false) {
    <header class="header fixed-block">
        }
        <div class="container">
            <div class="header__inner">
                <a href="main.html" class="header__logo">
                    <img src="img/svg/logo.svg" alt="Логотип Andreev">
                </a>
                <div class="header__nav">
                    <div class="header__nav-inner">
                        <div class="container">
                            <nav class="header__menu">
                                <ul>
                                    <li><a href="#about" class="js-anchor">[&nbsp;Почему я?&nbsp;]</a></li>
                                    <li><a href="#work-stages" class="js-anchor">[&nbsp;Как проходит работа&nbsp;]</a></li>
                                    <li><a href="#pricing" class="js-anchor">[&nbsp;Стоимость работы&nbsp;]</a></li>
                                    <li><a href="#faq" class="js-anchor">[&nbsp;FAQ&nbsp;]</a></li>
                                </ul>
                            </nav>
                            <button class="btn main-btn desktop-hidden mod-open-btn" data-modal="feedback-mod">
                                <span>Записаться на&nbsp;консультацию</span>
                                <span class="link-icon"><svg><use xlink:href="img/svg/sprite.svg#link-icon"></use></svg></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="header__contacts">
                    <div class="social-list">
                        <ul>
                            <li>
                                <a href="#" target="_blank" aria-label="Телеграм">
                                    <svg><use xlink:href="img/svg/sprite.svg#telegram"></use></svg>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <button class="btn text-btn mob-hidden mod-open-btn" data-modal="feedback-mod"><span>Записаться на&nbsp;консультацию</span></button>
                </div>
                <div role="button" class="icon-menu" aria-label="Открыть меню">
                    <div class="icon-menu__items">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>

                </div>
            </div>
        </div>
    </header>