@mixin fz-90 {
    font-size: clamp(56px, 4.7vw, 90px);
    font-weight: 500;
    white-space: nowrap;
    @media (max-width: $bp2) {
        font-size: clamp(34px, 6.8vw, 70px);
    }
    @media (max-width: $bp4) {
        font-size: 70px;
    }
}
@mixin fz-22 {
    font-size: 22px;
	@media (max-width: $bp1) {
		font-size: 18px;
	}
	@media (max-width: $bp2) {
		font-size: 16px;
	}
}
@mixin fz-18 {
    font-size: 18px;
    @media (max-width: $bp1) {
        font-size: 16px;
    }
    @media (max-width: $bp2) {
        font-size: 14px;
    }
}
@mixin fz-16 {
    font-size: 16px;
    @media (max-width: $bp1) {
        font-size: 14px;
    }
}
@mixin fz-14 {
    font-size: 14px;
    @media (max-width: $bp1) {
        font-size: 12px;
    }
}
