@mixin grid-6 {
    @include grid;
    grid-template-columns: repeat(6, 1fr);
}
@mixin grid-4 {
    @include grid;
    grid-template-columns: repeat(4, 1fr);
}
@mixin grid-3 {
    @include grid;
    grid-template-columns: repeat(3, 1fr);
}
@mixin grid-2 {
    @include grid;
    grid-template-columns: 1fr 1fr;
}
@mixin grid-ratio-2-1 {
    @include grid;
    grid-template-columns: 2fr 1fr;
}
@mixin grid-ratio-1-3 {
    @include grid;
    grid-template-columns: 1fr 3.1fr;
}
@mixin grid-ratio-1-2 {
    @include grid;
    grid-template-columns: 1fr 2fr;
}
@mixin grid-ratio-1-2-1 {
    @include grid;
    grid-template-columns: 1fr 2fr 1fr;
}
@mixin grid {
    display: grid;
    gap: 16px;
    @media (max-width: $bp4) {
        grid-template-columns: 1fr;
        gap: 12px;
    }
}